html{
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.container{
    background: #303030;
    width: 100%;
    display: flex;
    padding: 7.5vh 0 5px;
    justify-content: space-around;
    
}

.container h1{
    color: #fff000;
    font-size: 1.4em;   
}

.container .selecoes{
    display: flex;

}

header li{
    color: #000;
    margin-left:10px; 
    background: yellow;
    padding: 3px;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;

}

main{
    background: rgb(253, 255, 160);    
    display: flex;
    justify-content: center;    
}

.filmes{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.filmes li img{
    width: 16vw;
    border-radius: 5px;
    margin: 2vw;
}



footer{  
    display: flex;
    background: #303030;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    
}

.link ul{
    display: flex;

}

.icon{
    width: 30px;
    height: 30px;
    margin: 0 15px 10px;
}


footer p{
    text-align: center;
    color: #FFF000;
    font-size: 11px;
    font-weight: bold;
}

@media(max-width: 768px){
    .container{
        align-items: center;    
        flex-direction: column;
    }
    .container .selecoes{
        flex-direction: column;
        margin: 1em;
        width: 90vw;
        align-items: center;
    }
    .selecoes li{
        width: 90%;
        margin: 0.3em 0;
        box-sizing: border-box;
    }

    .filmes li img{
        width: 90vw;
        border-radius: 5px;
    }
   
}